<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.krisez.arch">
    <application>
        <activity android:name=".ArchActivity"/>
        <activity android:name=".ViewModelActivity" />
        <activity android:name=".RoomActivity" />
        <activity android:name=".LiveDataActivity" />
        <activity android:name=".LifeCycleActivity" />
    </application>
</manifest>