<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.krisez.behavior">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>
        <activity android:name=".BehaviorActivity" />
        <activity android:name=".camera.CameraXActivity" />
        <activity android:name=".camera.CameraPreActivity">
            <!-- Register as a system camera app -->
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <action android:name="android.media.action.VIDEO_CAMERA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Declare notch support -->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity android:name=".media.MediaActivity" />
        <activity android:name=".media.audio.MediaAudioActivity" />
        <activity android:name=".media.MediaVideoActivity" />
        <activity android:name=".SettingActivity" android:windowSoftInputMode="adjustNothing"/>

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service android:name=".media.audio.MediaPlaybackService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <!-- FileProvider used to share photos with other apps -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="cn.krisez.behavior.media.audio.library.AlbumArtContentProvider"
            android:authorities="com.example.android.uamp.media.library.provider"
            android:exported="true" />
    </application>
</manifest>