<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.krisez.basic">
    <application>
        <activity android:name=".BasicActivity"/>
        <activity android:name=".KtxActivity"/>
        <activity android:name=".ktx.KzhsActivity"/>
        <activity android:name=".ktx.KzsxActivity" />
        <activity android:name=".ktx.LambdaActivity" />
        <activity android:name=".ktx.CsActivity" />
        <activity android:name=".ktx.XcActivity" />
        <activity android:name=".CompatActivity" />
    </application>
</manifest>